.recommended {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 2px;
    font-size: 10px;
    color: steelblue;
    text-shadow: 1px 1px 1px lightgray;
}

#input-width {
    white-space: pre;
    padding: 1px;
    margin: 1px;
}
.margin-vertical-zero{
    margin-top: 0;
    margin-bottom: 0;
}
body{
    padding-top: 100px;
}

span p {
    color: black;
    display: none;
    white-space: pre;
    padding-right: 4px;
}

#navbar-collapse li[value='1']{
    display: none;

}

tr[data-onoff=true ] button:after {
    content: '上架';
}

tr[data-onoff=false] * {
    color: darkgrey;
}

tr[data-onoff=false] button:after {
    content: '下架';
}

tr[data-delete='1'] button:after {
    content: '取消';
    color: darkgray;
}

tr[data-delete='1'] span {
    color: red;
    text-decoration: line-through;
}

tr[data-delete='1'] input {
    display: none;
}

tr[data-delete='1'] p {
    display: inline;
}

tr[data-delete= '0'] button:after {
    content: '保留';
    color: white;
}

input {
    border: solid steelblue 1px;
    padding: 0;
    background-color: inherit;

}

input:read-only {
    border: 0;
    padding: 0;
    background-color: inherit;
}

th:first-child, td:first-child {
    text-align: justify;
}

input[type=number] {
    text-align: right;
    width: 60px;
}






